{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Productos</title>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div id="product-list" hx-get="/load-products/" hx-trigger="load">
        <!-- Aquí se cargan los productos automáticamente -->
    </div>
</body>
</html>
